#container{
    height: auto;
}
:root{
    --blueColor: #073468;  
}

#main-delivery{
    background-color: white;
    height: 1300px;
    width: 100%;
}

#process{   
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.process-art{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#carta-button{
    height: 20%;
    color: white;
    display: flex;
    justify-content: flex-end;
    
}

button{
    color: white;
    background-color: var(--blueColor);  
    text-align: center;
}

.phone{
    width: 25%;
    height: 60%;
    background-color: var(--blueColor);
    border-style: none;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}




#carta-button button{
    text-transform: uppercase;
    width: 30%;
    height: 50px;
    font-size: 20px;
    border: none;
}

#process-web{
    height: 45%;    
    color: var(--blueColor);
}

#process-web img{
    width: 8%;
    margin-top: 40px;
    margin-bottom: 10px;
}

#process-web h4{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}

#process-web aside{
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#process-phone{
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.phone button{
    border: 1px solid white;
    width: 50%;
    letter-spacing: 2px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 0;
    margin-top: 10px;
}

#process-phone .phone p{
    margin: 0 60px;
}


#process-phone .phone:nth-of-type(1) p{
    margin: 0 30px;
}

#process-phone .phone:nth-of-type(1) button{
    width: 60%;
}

.phone i{
    font-size: 10px;
}

#schedule{
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}


#schedule h5{
    color: var(--blueColor);
    font-weight: 400;
    margin-bottom: 20px;
}

#main-text{
    width: 45%;
    text-align: center;
    font-size: 18px;
}

#sub-p{
    text-align: center;
    font-size: 15px;
    color: var(--blueColor);
}

#button-cover{
    padding: 10px 15px;
    font-size: 13px;
    border: none;
    margin-bottom: 20px;
}


#delivery-banner{
    background-color: forestgreen;
    height: 42%;
}

#delivery-banner img{
    width: 100%;
    height: 76.5%;
}


