#container{
    height: 2430px;
}

#main-nosotros{
    height: auto;
    width: 100%;    
}

:root{
    --blueColor: #073468;  
}

#f-history{  
    height: 770px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;   
   
}

#f-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 60%;
    width: 100%;
    background-color: rgb(242, 245, 238);
}


#f-title{
    text-transform: uppercase;
    font-size: 14px;
}

#f-text img{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 5%;
}

#f-text p{
    font-size: 14px;    
    width: 30%;
}


#f-complement{
    background-color: var(--blueColor);
    height: 40%;
    width: 100%;
}

#test1{
    display: flex;
    justify-content: center;
    background-color: rgb(84, 84, 84);
    position: absolute;
    z-index: 0.5;
    margin-top: 280px;
   
}

#test1 img{
    width: 920px;
    height: 480px;
}

/*s-history*/

#s-history{
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aspect{
    height: 33.3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aspect h4{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.aspect p{
    margin-top: 10px;
    text-align: justify;
    font-size: 15px;
}

#aspect1{
    background-color: var(--blueColor);
}

#aspect1-text{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    color: white;
    width: 25%;
}

#aspect1-img {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
       
}

#aspect1-img img{
   width: 85%;    
   height: 85%;
    
}

.asp{
    width: 27.5%;
    padding-top: 25px;
}

#aspect2{
    background-color: rgb(203, 236, 226);
}
#aspect2-text{  
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    color: var(--blueColor);
    width: 24%;
}

#aspect2-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31%;
}

#aspect2-img img{
    width: 90%;
    height: 80%;
}

#aspect3{
    background-color: rgb(242, 245, 238);
}

#aspect3-text{
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-top: 40px;
}

#aspect3-text p{
    margin-bottom: 40px;
}

#aspect3-img{
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#aspect3-img img{
    width: 85%;
    height: 92%;
}


@media only screen and (max-width: 1250px) {
  
    #test1{
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 50%;
        height: 40%;
    }

    #test1 img{
        width: 100%;
        height: auto;
    }

    #f-complement{
        display: none;
    }

    #f-text{
        height: auto;
    }
    #aspect1-text{
       margin-top: 30px;
    }
    #aspect1-img {
        display: flex;
        height: 90%;
        margin-top: 25px;
        flex-direction: column;
        align-items: flex-end;
        width: 40%;
    }

    #aspect2-text{  
        margin-top: 50px;
    }

    #aspect3-text{
        display: flex;
        flex-direction: column;
        width: 24%;
        margin-top: 20px;
    }

    #aspect3-text p{
        margin-bottom: 20px;
    }
}